{% extends "admin/adminbase.html" %}
{% block title%}Edit Profile{% endblock %}
{% block body %}
<div class="span9" id="content">

    <div class="row-fluid">
        <!-- block -->
        <div class="block">


            {% for message in form.name.errors %}
                <div>{{ form.name.label }}:{{ message }}</div>
            {% endfor %}

            {% for message in form.email.errors %}
                <div>{{ form.email.label }}:{{ message }}</div>
            {% endfor %}

            {% for message in form.altemail.errors %}
                <div>{{ form.altemail.label }}:{{ message }}</div>
            {% endfor %}

            {% for message in form.number.errors %}
                <div>{{ form.number.label }}:{{ message }}</div>
            {% endfor %}

            {% for message in form.gender.errors %}
                <div>{{ form.gender.label }}:{{ message }}</div>
            {% endfor %}

            {% for message in form.status.errors %}
                <div>{{ form.status.label }}:{{ message }}</div>
            {% endfor %}

            {% for message in form.nationality.errors %}
                <div>{{ form.nationality.label }}:{{ message }}</div>
            {% endfor %}

            {% for message in form.bday.errors %}
                <div>{{ form.bday.label }}:{{ message }}</div>
            {% endfor %}

            <!-- show flash messages -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            <!-- block -->
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Edit Profile Form</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">

                    <form id="profileform" class="form-horizontal" method="post" action="{{ url_for('edit_profile') }}" name="profileform">
                        <fieldset>
                            <input type="hidden" name="user_id" value="{{ id }}"/>
                            <div class="control-group">
  								 {{ form.name.label }}<br>
                                 {{ form.name }}
  							</div>
                             <div class="control-group">
  								 {{ form.designation.label }}<br>
                                 {{ form.designation }}
  							</div>
                            <div class="control-group">
  								{{ form.email.label }}<br>
                                {{ form.email(readonly="readonly") }}
  							</div>
                            <div class="control-group">
  								{{ form.altemail.label }}<br>
                                {{ form.altemail }}
                            </div>
                            <div class="control-group">
  								{{ form.number.label }}<br>
                                {{ form.number }}
                            </div>
                            <div class="control-group">
  								{{ form.gender.label }}<br>
                                {{ form.gender }}
                            </div>
                            <div class="control-group">
  								{{ form.status.label }}<br>
                                {{ form.status }}
                            </div>

                            <div class="control-group">
                                {{ form.nationality.label }}<br>
                                {{ form.nationality }}
                            </div>
                            <div class="control-group">
                                {{ form.bday.label }}<br>
                                {{ form.bday }}
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                                <button type="reset" class="btn">Cancel</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
{% endblock %}