{% extends "admin/wrapper.html" %}
{% block titile %} Forgot Password {% endblock %}
{% block body %}
  <body id="login">
    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Update Password</h2>
        <input type="text" class="input-block-level" placeholder="Email address">
        <input type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Update</button>
        <a href="{{ url_for('admin_register') }}"><button class="btn btn-large btn-primary" type="button">Sign Up</button></a>
      </form>

    </div> <!-- /container -->
    {% endblock %}
{% block footer %}
    <script src="static/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/admin/assets/scripts.js"></script>
  </body>
</html>
{% endblock %}