{% extends "admin/wrapper.html" %}
{% block titile %} Admin Register {% endblock %}
{% block body %}
  <body id="login">
    <div class="container">
    <!-- show flash message -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% for message in form.email.errors %}
        <div>{{ form.email.label }}:{{ message }}</div>
    {% endfor %}

    {% for message in form.password.errors %}
        <div>{{ form.password.label }}:{{ message }}</div>
    {% endfor %}

    {% for message in form.confirm_password.errors %}
        <div>{{ form.confirm_password.label }}:{{ message }}</div>
    {% endfor %}


      <form class="form-signin" method="post" action="{{ url_for('admin_register') }}">
        <h2 class="form-signin-heading">Sign Up</h2>
        {{ form.email.label }}<br>
               {{ form.email }}
        {{ form.password.label }}<br>
               {{ form.password }}
        {{ form.confirm_password.label }}<br>
               {{ form.confirm_password }}
        <label class="checkbox">
          <a href="{{ url_for('admin_login') }}">Sign In here</a>
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign Up</button>
      </form>

    </div> <!-- /container -->
    {% endblock %}
{% block footer %}
    <script src="static/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/admin/assets/scripts.js"></script>
  </body>
</html>
{% endblock %}