{% extends "admin/adminbase.html" %}
{% block title%}Upload Image{% endblock %}
{% block body %}
<div class="span9" id="content">

    <div class="row-fluid">
        <!-- block -->
        <div class="block">
          <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Upload Image For Projects</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">

                    <form class="form-horizontal" method="post" enctype=multipart/form-data action="{{ url_for('upload') }}" name="upload">
                        <fieldset>
                                <input type="hidden" name="project_id" value="{{ project_id }}"/>
                                <div class="control-group">
                                    <input type="file" name="project_photo">
                                </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

          
        </div>
        <!-- /block -->
    </div>
</div>
{% endblock %}